<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../style.css" />
    <title>Inventory App</title>
  </head>
  <body>
    <nav>
      <div class="navigation-heading">
        <h1>Book Inventory</h1>
      </div>
      <ul>
        <li><a href="/">Books</a></li>
        <li><a href="/authors">Authors</a></li>
        <li><a href="/category">Category</a></li>
      </ul>
    </nav>
    <div class="author-container">
      <% authors.forEach((author) => { %>
      <div class="book-box">
        <h2 class="book-name"><%= author.name %></h2>
      </div>
      <% }); %>
    </div>
  </body>
</html>
